html {
    width: 100%;
    height: 100%;
    background-color: #9cba92;
    font-family: Geneva, Tahoma, sans-serif;
}

#cover {
    background-image: url(https://i.pinimg.com/736x/da/04/20/da04201444c91750ad22c52e857d5ae8.jpg);
    background-size: 250%;
    opacity: 80%;
    width: 200px;
    min-width: 200px;
    height: 150px;
    border-radius:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);   
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

a:hover {
    font-style: oblique;
}

.Header {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    max-width: 1300px;
    height: 20vh;
    border-radius:10px;
    background-color: #445843;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.Menu {
    display: none;
    border-radius:10px;
    width: 100px;
    margin: 20px;
    background-color: #445843;
    cursor: pointer;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    z-index: 1002; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 1000px) {
    .Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Header {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 178px; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #445843;
        padding: 20px;
        z-index: 1000; 
        align-items: center; 
        justify-content: flex-start; 
    }

    .Header.active {
        display: flex;
        gap: 0;
        background-color: #5d7854;
        max-height: 150px;

    }

    .Header a {
        color: white;
        margin: 0;
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .Header.active {
        display: flex;
        gap: 0;
        max-width: 395px;
        margin-left: 8px;
        }
    }
.image-panda {
    width: 100%;
    height: auto;
    border-radius:10px;
    margin: 20px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.text-panda {
    left: 40px;
    top: 150px;
    font-weight: bolder;
    max-width: 1400px;
    font-size: 36px;
    text-align: center;
    color: #F0F0FF;
    position: absolute;
    padding: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    flex-wrap: wrap;
}


.explicatif {
    font-size: xx-large;
    text-align: center;
    width: 46.7%;
    max-width: 710px;
    height: 500px;
    margin: 20px auto 10px 0;
    padding: 20px;
    border-radius:10px;
    background-color: #445843;
    color: white;
    display: flex;
    align-items: center;
    float: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
@media (max-width: 1200px) {
    .text-panda {
        font-size: larger; /* Réduit la taille de la police pour les petits écrans */
        gap: 1px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}
@media (max-width: 1200px) {
    .explicatif {
        font-size: x-large; /* Réduit la taille de la police pour les petits écrans */
        gap: 1px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}

.image-girafes {
    width: 49.5%;
    margin: 20px 0 20px 0;
    max-width: 800px;
    height: 538px;
    border-radius:10px;
    display: flex;
    float: right;
}

.image-broceliande {
    width: 49.3%;
    margin: 10px 10px 20px 0;
    max-width: 800px;
    height: 538px;
    border-radius:10px;
    display: flex;
    float: left;
}

.horaires {
    list-style-type: none;
    padding: 0;
    background-color: #445843;
    color: white;
    border-radius:10px;
    float: right;
    width: 49.7%;
    max-width: 800px;
    height: 540px;
    font-size: xx-large;
    margin: 0 0 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.title {
    background-color: #444;
    display: flex;
    color: lightgreen;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius:10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.horaires li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.day {
    color: lightgrey;
}

.time {
    color: white;
}

.horaires li:hover {
    background-color: #555;
}

.avis {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 1600px; 
    height: auto; 
    padding: 20px; 
    margin-bottom: 20px;
    border-radius:10px;
    background-color: #445843;
    color: white;
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 768px) {
    .avis {
        font-size: large; 
        padding: 15px; 
    }
}

@media (max-width: 480px) {
    .avis {
        font-size: medium; 
        padding: 10px; 
    }
}

@media (max-width: 1000px) {
    .articles-container {
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}
h4 {
    color: lightgrey;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    flex: 1 1 30%;
    background-color: #445843;
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius:10px;
    text-align: center;
    align-items: center;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

#services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.service-item {
    flex: 1 1 300px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item .description {
    width: 100%; /* La description prendra 100% de la largeur de .service-item */
    margin-top: 10px; /* Marge top pour l'espace entre l'image et la description */
}

.service-item img {
    max-width: 100%;
    height: auto;
    border-radius:10px;
    object-fit: cover; /* Important pour conserver les proportions */
    width: 100%;
    height: 500px; /* Hauteur fixe pour toutes les images */
}

.description { /*texte train et restau*/
    display: flex;
    margin-top: 10px; 
    font-size: 2rem; 
    background-color: #445843;
    border-radius:10px;
    height: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F0F0FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

/* Média queries pour des tailles d'écran spécifiques */
@media (max-width: 768px) {
    .service-item {
        flex: 1 1 100%;
        margin: 5px;
    }

    .description {
        font-size: 1em;
        
    }
}

.image-train, .image-restauration {
    height: 30em; 
    border-radius:10px;
    max-width: 650px;
}

.description { /*texte train et restau*/
    display: flex;
    margin-top: 10px; 
    font-size: 2rem; 
    background-color: #445843;
    border-radius:10px;
    height: 4em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #F0F0FF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.Mentions {
    display: flex;
    font-size: x-large;
    justify-content: center;
    gap: 40px;
    width:auto;
    max-width:41.5em;
    height: 160px;
    border-radius:10px;
    background-color: #445843;
    align-items: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 800px) {
    .Mentions,
    .explicatif {
        font-size: medium; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
        width: 100%;
        max-width: 395px;
        max-height: 230px;
    }
}
@media (max-width: 800px) {
    .Mentions {
        margin-left: 20px;
    }
}
@media (max-width: 800px) {
    .horaires {
    font-size: medium; /* Réduit la taille de la police pour les petits écrans */
    gap: 10px; /* Réduit l'espace entre les éléments */
    flex-direction: column;
    width: 100%;
    max-height: 350px;
    }
}

@media (max-width: 800px) {
    .text-panda {
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}

a {
    color: #F0F0FF;
}
@media (max-width: 800px) {
    .image-girafes,
    .image-broceliande {
        width: 100%;
        flex-direction: column;
        box-sizing: border-box;
    }
}

.imgbasg,
.imgbasd {
    max-width: 16em;
    width: 100%;
    height: 160px;
    margin: 0 15px 15px 0;
    padding-bottom: 10px;
    float: left;
    clear: left;
    border-radius:10px;
}

.imgbasd {
    margin: 0 0 0 15px;
    float: right;
    clear: right;
}


/* Styles pour petits écrans */
@media (max-width: 768px) {
    #imgfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        margin: 0 0;
        float: none;
        clear: none;
    }
    .imgbasd,
    .imgbasg {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 15px 0;
        float: none;
        clear: none;
    }
}
