.image-panda {
    width: 100%;
    height: auto;
    border-radius:10px;
    margin: 20px 0 0;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.text-panda {
    top: 170px;
    font-weight: bolder;
    font-size: 36px;
    text-align: center;
    color: white;
    position: absolute;
    padding: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);  
}

.explicatif {
    font-size: xx-large;
    text-align: center;
    width: 46.7%;
    height: 500px;
    margin: 20px auto 10px 0;
    padding: 20px;
    border-radius:10px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    display: flex;
    align-items: center;
    float: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); 
}

@media (max-width: 1200px) {
    .text-panda {
        font-size: large; /* Réduit la taille de la police pour les petits écrans */   
    }
}

@media (max-width: 800px) {
    .text-panda {
        top: 135px;
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
    }
}


/* Media query pour les écrans plus petits */
@media (max-width: 1465px) {
    .explicatif {
        font-size: x-large;
        width: 60%;
        height: auto;
        margin: 10px auto;
        float: none;
    }
}

@media (max-width: 800px) {
    .explicatif {
        font-size: large;
        width: 80%;
        height: auto;
        margin: 10px auto;
        float: none;
    }
}

@media (max-width: 600px) {
    .explicatif {
        font-size: medium;
        width: 90%;
        height: auto;
        margin: 10px auto 0 auto;
        padding: 10px;
        float: none;
    }
}


.image-girafes {
    width: 49.75%;
    margin: 20px 0 20px 10px;
    height: 540px;
    border-radius:10px;
    display: flex;
    float: right;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.image-broceliande {
    width: 49.3%;
    margin: 0px 10px 20px 0;
    height: 540px;
    border-radius:10px;
    display: flex;
    float: left;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.horaires {
    list-style-type: none;
    padding: 0;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    border-radius:10px;
    float: right;
    width: 49.7%;
    height: 540px;
    font-size: xx-large;
    margin: 0 0 10px 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.title {
    background-color: #444;
    display: flex;
    color: lightgreen;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    border-radius:10px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.horaires li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #444;
}

.day {
    color: lightgrey;
}

.time {
    color: white;
}

.horaires li:hover {
    background-color: #555;
}

.avis {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%; 
    height: auto; 
    padding: 20px; 
    margin: 0 10px 20px 0;
    border-radius:10px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .avis {
        font-size: large; 
        padding: 15px; 
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .avis {
        font-size: medium; 
        padding: 10px; 
    }
}

@media (max-width: 1200px) {
    .articles-container {
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}
h4 {
    color: white;
    text-decoration: underline;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.articles-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

article {
    flex: 1 1 30%;
    background: linear-gradient(to bottom, #445843, #455e3b);
    height: 300px;
    padding: 20px;
    box-sizing: border-box;
    border-radius:10px;
    text-align: center;
    color: white;
    align-items: center;
    font-size: 22px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.service-item {
    flex: 1 1 300px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item .description {
    width: 100%; /* La description prendra 100% de la largeur de .service-item */
    margin-top: 10px; /* Marge top pour l'espace entre l'image et la description */
}

.service-item img {
    max-width: 100%;
    height: auto;
    border-radius:10px;
    object-fit: cover; /* Important pour conserver les proportions */
    width: 100%;
    height: 500px; /* Hauteur fixe pour toutes les images */
}

.description { /*texte train et restau*/
    display: flex;
    margin-top: 10px; 
    font-size: 2rem; 
    background: linear-gradient(to bottom, #445843, #455e3b);
    border-radius:10px;
    height: 2em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
   
}

/* Média queries pour des tailles d'écran spécifiques */
@media (max-width: 768px) {
    .service-item {
        flex: 1 1 100%;
        margin: 5px;
    }

    .description {
        font-size: 1em;
        
    }
}

.image-train, .image-restauration {
    height: 30em; 
    border-radius:10px;
    max-width: 100%;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.description { /*texte train et restau*/
    display: flex;
    margin-top: 10px; 
    font-size: 2rem; 
    background: linear-gradient(to bottom, #445843, #455e3b);
    border-radius:10px;
    height: 4em;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); 
}

