.avis {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 120px; 
    padding: 20px; 
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .avis {
        font-size: large; 
        padding: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .avis {
        font-size: medium; 
        padding: 10px; 
    }
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height:43vh; 
    margin: 0 0 15px 0; 
    background: linear-gradient(to bottom, #445843, #455e3b);
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
@media (max-width: 800px) {
    form {
        height: 300px;   
    }
}

@media (max-width: 480px) {
    form {
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
}

label {
    display: flex;
    text-align: center;
    font-style: italic;
    margin: 10px;
    color: greenyellow;
    font-weight: bold;
}

#pseudo {
    display: flex;
    margin: 10px;
    border-radius: 10px;
    width: 150px;
    height: 20px;
    align-items: center;
}

#ameliorer {
    display: flex;
    width: 100vh;
    border-radius: 10px;
    margin: 10px;
   
}

@media (max-width: 800px) {
    #ameliorer {
        max-width: 330px;   
    }
}

 #bouton {
    display: flex;
    align-items: right;
    border-radius: 8px;
    height: 2em;
    margin: 5px 0 0 10px;
    background-color: #85a57a;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
