/* Style pour la section des avis */
.avis {
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    box-sizing: border-box;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#textavis {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: auto;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    margin: 10px 5px 0 5px;
    padding: 10px;
    resize: vertical;
    /* Permet de redimensionner verticalement si nécessaire */
}

#pseudo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
    margin: 10px 5px 0 5px;
    padding: 10px;
    resize: vertical;
}

/* Media queries pour petits écrans */
@media (max-width: 768px) {

    #textavis,
    #pseudo {
        width: 90%;
    }
}

@media (max-width: 480px) {

    #textavis,
    #pseudo {
        width: 95%;
    }
}

#pseudo {
    text-align: center;
}

/* Adaptations pour les écrans plus petits */
@media (max-width: 768px) {
    .avis {
        font-size: large;
        padding: 15px;
        margin-top: 20px;
    }
}

@media (max-width: 480px) {
    .avis {
        font-size: medium;
        padding: 10px;
    }
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    background: linear-gradient(to bottom, #445843, #455e3b);
    text-align: center;
    border-radius: 10px;
    height: 50px;
    margin: 20px 0 20px 0;
}

.avis-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 5px 0 20px 0;
    height:350px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.avis-list {
    display: block;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: #ffffff;
    overflow-y:scroll;
    height:310px;
}

.avis-item strong {
    display: block;
    color: greenyellow;
    font-size: 1.2em;
    text-align: center;
}
.avis-item {
    transition: background 0.4s ease;
}

/* Ajoutez un effet de survol */
.avis-item:hover {
    background: rgb(0 0 0 / 0.2);
}

/* Style pour le formulaire */
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 15px 0;
    background: linear-gradient(to bottom, #445843, #455e3b);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

/* Adaptations pour les écrans plus petits */
@media (max-width: 800px) {
    form {
        height: auto;
        padding: 15px;
    }
}

/* Media queries pour petits écrans */
@media (max-width: 768px) {
    .avis-list {
        width: 95%;
    }
}

@media (max-width: 480px) {
    .avis-list {
        width: 100%;
        padding: 15px;
    }
    form {
        padding: 10px;
        justify-content: flex-start;
    }
}

/* Style pour les labels */
label {
    display: block;
    text-align: left;
    font-style: italic;
    margin: 10px 0;
    color: greenyellow;
    font-weight: bold;
}

/* Style pour le bouton de soumission */
button {
    display: inline-flex;
    align-items: center;
    border-radius: 8px;
    height: 2em;
    margin: 10px 0;
    background-color: #85a57a;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

/* Effet lorsque le bouton est cliqué */
button:active {
    transform: scale(0.98);
}