@media (max-width: 1100px) {
    .Header.active {
    font-size: 1.3em;
    }
}

.container,
h1 {
    display:flex;
    text-align: center;
    flex-direction: column; /* Change l'alignement en colonne */
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    width: calc(100% - 100px);
    margin: 20px auto;
    padding: 50px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    border-radius: 10px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#health,
#quantity,
#checkup_date,
#animals {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin: 5px; /* Ajoute un petit espace au-dessus des champs */
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#quantity,
#checkup_date {
    width: 32vh;  
}
    
button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    background-color: #5d7854;
    color: white;
    cursor: pointer;
    margin: 15px; /* Espacement au-dessus du bouton */
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
