.formcontact {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
    height: 120px;
    padding: 20px; 
    margin: 20px 0 20px 0;
    border-radius: 10px;
    gap: 0px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /*La hauteur du body est de 100% de la hauteur de la fenêtre (viewport).*/
    margin: 0 0 15px 0; 
    background: linear-gradient(to bottom, #445843, #455e3b);
    border-radius: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
  
}
@media (max-width: 800px) {
    form {
        font-size: medium; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
        display: flex;
        height: 350px;
    }
}
@media (max-width: 800px) {
    .formcontact {
        font-size: medium; /* Réduit la taille de la police pour les petits écrans */
    }
}

label {
    display: flex;
    text-align: center;
    font-style: italic;
    color:greenyellow;
    font-weight: bold;
    margin: 3px;
}

#ameliorer {
    margin-top: 10px;
    display: flex;
    border-radius: 10px;
    max-width: 30em;
}

 #bouton {
    display: flex;
    align-items: right;
    border-radius: 8px;
    height: 2em;
    background-color: #85a57a;
    margin-top: 10px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

input {
    border-radius: 10px;
}

