.titrehabitats { /* logo habitats*/
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 120px; 
    margin: 20px 0 15px 0;
    border-radius: 10px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .titrehabitats {
        font-size: x-large; 
        padding: 10px; 
        text-align: center;
   
    }
}

.explicatif { /* texte principal de la page*/
    font-size: 2em;
    text-align: center;
    margin: 20px auto 10px 0;
    padding: 0 20px 0 20px;
    border-radius: 10px;
    background: linear-gradient(to bottom, #445843, #455e3b);
    color: white;
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#habitattigre { /*image tigre*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2015/09/26/21/33/suspension-bridge-959853_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

.foret, .savane, .foret-montagneuse, .antarctique { /*bouton foret*/
    display: flex;
    background-color: #85a57a;
    border-radius: 10px;
    margin: 20px;
    height: 2em;
    width: 15em;
    justify-content: center;
    align-content: center;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}
    
.liste-cachee, .liste-cachee-deux, .liste-cachee-trois, .liste-cachee-quatre {
    display: none;
    margin-top: 20px;
    margin-left: 7px;
    padding: 0;
    list-style-type: none;
    color: #F0F0FF;
}

.liste-visible, .liste-visible-deux, .liste-visible-trois, .liste-visible-quatre {
    display: block;
}

.tigrou, .girafes, .pandaroux, .manchot {
    border-radius: 10px;
    display: flex;
    height: 70vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#habitatgirafe { /*image habitat girafe*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2018/03/15/11/11/tree-3227869_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4); 
}    

#habitatpandaroux { /*image habitat panda roux*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2016/02/26/13/35/bamboo-1224039_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

#habitatmanchot { /*image habitat manchot*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2016/08/26/10/19/south-pole-1621775_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.4);
}

@media (max-width: 800px) {
    .tigrou,
    .girafes,
    .pandaroux,
    .manchot {
        height: 32vh;
        width: 40vh;
    }
    .explicatif{
        font-size: x-large;
    }
}