html {
    width: 100%;
    height: 100%;
    background-color: #9cba92;
    font-family: Geneva, Tahoma, sans-serif;
}

#cover {
    background-image: url(https://i.pinimg.com/736x/da/04/20/da04201444c91750ad22c52e857d5ae8.jpg);
    background-size: 250%;
    opacity: 80%;
    width: 200px;
    min-width: 200px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);   
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

a:hover {
    font-style: oblique;
}

.Header {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
    max-width: 1300px;
    height: 20vh;
    border-radius: 10px;
    background-color: #445843;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    
}

.Menu {
    display: none;
    border-radius: 15px;
    width: 100px;
    margin: 20px;
    background-color: #445843;
    cursor: pointer;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    z-index: 1002; /* Ensure the button stays on top */
}

@media (max-width: 768px) {
    .Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Header {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 178px; /* Adjusted value to push the menu down */
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #445843;
        padding: 20px;
        z-index: 1000; /* Ensure the menu stays below the button */
        align-items: center; /* Align items vertically */
        justify-content: flex-start; /* Align items from the top */
    }

    .Header.active {
        display: flex;
        gap: 0;
    }

    .Header a {
        color: white;
        margin: 0;
        font-size: 1em;
    }
}
.titrehabitats { /* logo habitats*/
    font-size: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
    max-width: 1600px; 
    height: 130px; 
    margin: 20px 0 15px 0;
    border-radius: 10px;
    background-color: #445843;
    color: white;
    box-sizing: border-box; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 768px) {
    .titrehabitats {
        font-size: x-large; 
        padding: 10px; 
    }
}

.explicatif { /* texte principal de la page*/
    font-size: xx-large;
    text-align: center;
    margin: 20px auto 10px 0;
    border-radius: 10px;
    background-color: #445843;
    color: white;
    display: flex;
    align-items: center;
}

#habitattigre { /*image tigre*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2015/09/26/21/33/suspension-bridge-959853_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh; 
}

.foret { /*bouton foret*/
    display: flex;
    background-color: #85a57a;
    border-radius: 10px;
    margin: 20px;
    height: 2em;
    width: 15em;
    justify-content: center;
    align-content: center;
}
    
.liste-cachee {
    display: none;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    color: #F0F0FF;
}

.liste-visible {
    display: block;
}

.tigrou {
    border-radius: 10px;
    display: flex;
    height: 70vh;
}


#habitatgirafe { /*image habitat girafe*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2018/03/15/11/11/tree-3227869_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh;  
}

.savane { /*bouton savane*/
    display: flex;
    background-color: #85a57a;
    border-radius: 10px;
    margin: 20px;
    height: 2em;
    width: 15em;
    justify-content: center;
    align-content: center;
}

.liste-cachee-deux {
    display: none;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    color: #F0F0FF;
}

.liste-visible-deux {
    display: block;
}

.girafes {
        border-radius: 10px;
        display: flex;
        height: 70vh;
}     

#habitatpandaroux { /*image habitat panda roux*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2016/02/26/13/35/bamboo-1224039_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh;
}

.foret-montagneuse { /*bouton foret montagneuse*/
    display: flex;
    background-color: #85a57a;
    border-radius: 10px;
    margin: 20px;
    height: 2em;
    width: 15em;
    justify-content: center;
    align-content: center;
}

.liste-cachee-trois {
    display: none;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    color: #F0F0FF;
}

.liste-visible-trois {
    display: block;
}

.pandaroux {
        border-radius: 10px;
        display: flex;
        height: 70vh;
}  

#habitatmanchot { /*image habitat manchot*/
    display: flex;
    background: url(https://cdn.pixabay.com/photo/2016/08/26/10/19/south-pole-1621775_1280.jpg) ;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    background-size: cover;
    min-height: 100vh;
}

.antarctique { /*bouton continent Antarctique*/
    display: flex;
    background-color: #85a57a;
    border-radius: 10px;
    margin: 20px;
    height: 2em;
    width: 15em;
    justify-content: center;
    align-content: center;
}

.liste-cachee-quatre {
    display: none;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    color: #F0F0FF;
}

.liste-visible-quatre {
    display: block;
}

.manchot {
        border-radius: 10px;
        display: flex;
        height: 70vh;
} 

/*Bas de la page */
.Mentions {
    font-size: x-large;
    gap: 40px;
    width:auto;
    max-width:40.5em;
    height: 180px;
    border-radius: 10px;
    background-color: #445843;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

@media (max-width: 800px) {
    .Mentions {
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}

a {
    color: #F0F0FF;
}

.imgbasg,
.imgbasd {
    max-width: 16em;
    width: 100%;
    height: 180px;
    margin: 0 15px 15px 0;
    padding-bottom: 10px;
    float: left;
    clear: left;
    border-radius: 10px;
}

.imgbasd {
    margin: 0 0 0 15px;
    float: right;
    clear: right;
}

@media (max-width: 768px) {
    .tigrou,
    .girafes,
    .pandaroux,
    .manchot {
        height: 30vh;   
    }
}

@media (max-width: 768px) {
    .avis,
    .liste-cachee,
    .liste-cachee-deux,
    .liste-cachee-trois,
    .liste-cachee-quatre {
        font-size: large; 
        padding: 15px; 
    }
}

