html {
    width: 100%;
    height: 100%;
    background-color: #9cba92;
    font-family: Geneva, Tahoma, sans-serif;
}

#cover {
    background-image: url(https://i.pinimg.com/736x/da/04/20/da04201444c91750ad22c52e857d5ae8.jpg);
    background-size: 250%;
    opacity: 80%;
    width: 200px;
    min-width: 200px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);   
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil {
    font-size: x-large;
    font-weight: bold;
    color: black;
}

a:hover {
    font-style: oblique;
}

.Header {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    width: 100%;
    max-width: 1300px;
    height: 20vh;
    border-radius: 10px;
    background-color: #445843;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.Menu {
    display: none;
    border-radius: 10px;
    width: 100px;
    margin: 20px;
    background-color: #445843;
    cursor: pointer;
    height: 10vh;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: large;
    z-index: 1002; 
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 1000px) {
    .Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Header {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 178px; 
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #445843;
        padding: 20px;
        z-index: 1000; 
        align-items: center; 
        justify-content: flex-start; 
    }

    .Header.active {
        display: flex;
        gap: 0;
        background-color: #5d7854;
    }

    .Header a {
        color: white;
        margin: 0;
        font-size: 1em;
    }
}


@media (max-width: 480px) {
    .Header.active {
        display: flex;
        gap: 0;
        max-width: 395px;
        margin-left: 8px;
        }
    }
    
.Mentions {
    font-size: x-large;
    gap: 40px;
    width:auto;
    max-width:41em;
    height: 180px;
    border-radius: 10px;
    background-color: #445843;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 800px) {
    .Mentions {
        font-size: medium; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
        width: 100%;
        max-width: 395px;
        max-height: 230px;
    }
}

@media (max-width: 800px) {
    .Mentions {
        margin-left: 20px;
    }
}

a {
    color: #F0F0FF;
}

.imgbasg,
.imgbasd {
    max-width: 16em;
    width: 100%;
    height: 180px;
    margin: 0 15px 15px 0;
    padding-bottom: 10px;
    float: left;
    clear: left;
    border-radius: 10px;
}

.imgbasd {
    margin: 0 0 0 15px;
    float: right;
    clear: right;
}

/* Styles pour petits écrans */
@media (max-width: 768px) {
    #imgfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        height: auto;
        margin: 0 0;
        float: none;
        clear: none;
    }
    .imgbasd,
    .imgbasg {
        width: 100%;
        max-width: 100%;
        height: auto;
        margin: 15px 0;
        float: none;
        clear: none;
    }
}
