html {
    width: 100%;
    height: 100%;
    background-color: #9cba92;
    font-family: Geneva, Tahoma, sans-serif;
}

#cover {
    background-image: url(https://i.pinimg.com/736x/da/04/20/da04201444c91750ad22c52e857d5ae8.jpg);
    background-size: 250%;
    opacity: 80%;
    width: 200px;
    min-width: 200px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil {
    font-size: x-large;
    font-weight: bold;
    color: black;
    

}

a:hover {
    font-style: oblique;
    font-family: fantasy;
    text-decoration: wavy;
}

.Header {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
    max-width: 1300px;
    height: 20vh;
    border-radius: 15px;
    background-color: #445843;
    float: right;
    flex-wrap: wrap; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
.Menu {
    display:none;
    border-radius: 15px;
    width: 200px;
    margin: 20px 0 20px 2em;
    background-color: #445843;
    cursor: pointer;
    height: 10vh;
}
@media (max-width: 768px) {
    .Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .Header {
        display: none; /* Cache les liens de navigation sur les petits écrans */
        flex-direction: column;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 10px;
    }
}

.Menu {
    display:none;
    border-radius: 10px;
    width: 200px;
    margin: 20px 0 20px 2em;
    background-color: #445843;
    cursor: pointer;
    height: 10vh;
}
@media (max-width: 768px) {
    .Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.avis {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 97.3%;
    height: 150px;
    margin:10px 0 15px 0;
    padding: 20px;
    border-radius: 20px;
    background-color: #445843;
    color: yellow;
}
form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35vh; /*La hauteur du body est de 100% de la hauteur de la fenêtre (viewport).*/
    margin: 0 0 15px 0; 
    background-color: #445843;
    border-radius: 20px;
}
label {
    display: flex;
    text-align: center;
    font-style: italic;
    color: yellow;
    font-weight: bold;
}
#pseudo {
    display: flex;
    border-radius: 20px;
    width: 150px;
    height: 20px;
    align-items: center;
}

#ameliorer {

    display: flex;
    border-radius: 20px;
}
 #bouton {
    display: flex;
    align-items: right;
    border-radius: 20px;
    height: 2em;
    background-color: #85a57a;
 }
/*Bas de la page */
.Mentions {
    font-size: x-large;
    gap: 40px;
    width:auto;
    max-width:40.5em;
    height: 180px;
    border-radius: 20px;
    background-color: #445843;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; 
}

@media (max-width: 800px) {
    .Mentions {
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}

a {
    color: #F0F0FF;
}

.imgbasg,
.imgbasd {
    max-width: 16em;
    width: 100%;
    height: 180px;
    margin: 0 15px 15px 0;
    padding-bottom: 10px;
    float: left;
    clear: left;
    border-radius: 20px;
}

.imgbasd {
    margin: 0 0 0 15px;
    float: right;
    clear: right;
}

