html {
    width: 100%;
    height: 100%;
    background-color: #9cba92;
    font-family: Geneva, Tahoma, sans-serif;
}

#cover {
    background-image: url(https://i.pinimg.com/736x/da/04/20/da04201444c91750ad22c52e857d5ae8.jpg);
    background-size: 250%;
    opacity: 80%;
    width: 200px;
    min-width: 200px;
    height: 150px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.accueil {
    font-size: x-large;
    font-weight: bold;
    color: black;
    

}

a:hover {
    font-style: oblique;
    font-family: fantasy;
    text-decoration: wavy;
}

.Header {
    font-size: x-large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
    width: 100%;
    max-width: 1300px;
    height: 20vh;
    border-radius: 15px;
    background-color: #445843;
    float: right;
    flex-wrap: wrap; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
.Menu {
    display:none;
    border-radius: 15px;
    width: 200px;
    margin: 20px 0 20px 2em;
    background-color: #445843;
    cursor: pointer;
    height: 10vh;
}
@media (max-width: 768px) {
    .Menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .Header {
        display: none; /* Cache les liens de navigation sur les petits écrans */
        flex-direction: column;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #333;
        padding: 10px;
    }
}
h2 {
    display: flex;
    text-align: center;
    text-shadow: #333;
    align-items: center;
    justify-content: center;
}

.titre-services {
    font-size: large;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 150px;
    margin:10px 0 15px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #445843;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.menu-restauration {
    font-size: x-large;
    display: flex;
    font-style: italic;
    width: 100%;
    height: 50px;
    margin:20px 0 15px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #445843;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 

}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1200px;
    height: 400px;
    display: flex;
    gap: 10px;
    margin: 50px auto; /* Centrer le conteneur horizontalement */
    padding: 0 10px;
}

.card {
    flex: 1; /* Rend toutes les cartes de taille égale initialement */
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: flex-end;
    position: relative;
    overflow: hidden; /* Assurez-vous que le contenu ne dépasse pas */
    transition: flex 0.5s ease; /* Transition sur la flexibilité */
}

.card:hover {
    flex: 7; /* Agrandir la carte survolée */
}

.card-content {
    position: relative;
    color: white;
    padding: 20px;
}

.card-content > .title {
    margin-left: 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.card:hover .title {
    opacity: 1;
    transform: translateY(0);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.backdrop {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.activites {
    font-size: x-large;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin:10px 0 15px 0;
    padding: 20px;
    border-radius: 10px;
    background-color: #445843;
    color: whitesmoke;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}
    
.liste-cachee-jeu {
    display: none;
    margin-top: 20px;
    padding: 0;
    list-style-type: none;
    color: #F0F0FF;
}

.liste-visible-jeu {
    display: block;
}

/*Bas de la page */
.Mentions {
    font-size: x-large;
    gap: 40px;
    width:auto;
    max-width:40em;
    height: 180px;
    border-radius: 15px;
    background-color: #445843;
    display: flex;
    align-items: center;
    justify-content: center;
     text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 800px) {
    .Mentions {
        font-size: small; /* Réduit la taille de la police pour les petits écrans */
        gap: 10px; /* Réduit l'espace entre les éléments */
        flex-direction: column;
    }
}

a {
    color: #F0F0FF;
}

.imgbasg,
.imgbasd {
    max-width: 16em;
    width: 100%;
    height: 180px;
    margin: 0 15px 15px 0;
    padding-bottom: 10px;
    float: left;
    clear: left;
    border-radius: 15px;
}

.imgbasd {
    margin: 0 0 0 15px;
    float: right;
    clear: right;
}

